#######################################
#   {{ ansible_managed | comment }}   #
#######################################

Bienvenue sur le site web par défaut du serveur {{ ansible_hostname }} en {{ env }}

{{ ansible_user }}